<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Css/category.css" />
  </head>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">PRODUCTS</button>
      <div id="myDropdown" class="dropdown-content">
        <% categories.forEach(cat=> { %>
        <a onclick="selectCategory('<%= cat.name %>')"><%= cat.name %></a>
        <% }) %>
      </div>
    </div>

    <hr />

    <div class="products">
      <% if (products.length> 0) { %> <% products.forEach(prod=> { %>

      <div class="product">
        <img
          onclick="location.href='/Product-page/getproduct/<%=prod._id%>'"
          src="/images/<%= prod.image1 %>"
          alt="<%= prod.name %> image"
        />
        <h3 class="pname"><%= prod.name %></h3>
        <% if(prod.newPrice>0) {%>
        <p class="price"><del>EGP <%= prod.oldPrice %></del></p>
        <P class="newprice">EGP <%= prod.newPrice %></P>
        <% } else { %>
        <p class="price">EGP <%= prod.oldPrice %></p>
        <% } %>
        <hr />
        <center>
          <a
            style="color: #000"
            class="addtocart"
            name="addtocaart"
            href="/cart-page/addcartdata/<%=prod._id%>"
          >
            Add to cart
          </a>
        </center>
      </div>

      <% }) %> <% } else { %>
      <Center>
        <p class="Error">OOPS, there are no products to display...</p>
      </Center>
      <% } %>
    </div>
    <script src="
    /Js/category.js"></script>
  </body>
</html>
